/******************************************************************************/
/* App                                                                        */
/******************************************************************************/

/* Block */
/******************************************************************************/
.c-app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

/* Element */
/******************************************************************************/
.c-app__writer {
  flex: 1 1 calc(100vh - 2.25em);
  position: relative;
}

.c-app__footer {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.c-app__menu-bar {
  flex: 0 0 auto;
  z-index: 1;
}
